/* title */

/* remove styling from title block partial */
#title-block-header, #title-block-header-title {
  all: unset;
  background-image: none !important;
  position: relative;
  z-index: 1;
}

/* page title  */
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-size: 3em;
  text-align: center;
  margin: 0 0 0 0;
  position: relative;
  z-index: 2;
}

/* text below page title */
.description {
  font-size: 1.25em;
  text-align: center; 
  margin: 0 0.25em 0.25em 0.25em;
  padding: 3em 0 3em 0;
  position: relative;
  z-index: 3;
}

.description p {
  margin: 0 1em 10em 1em;
}

.description a {
  text-decoration: underline !important;
}

.description a:hover {
  text-decoration: none !important;
}

/* listing cards  */
.card {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;
}

.card-img {
  border-radius: 8px 8px 0px 0px;
}


/* listing items  */
.listing-item {
  display: flex;
  align-items: center;
}

.listing-item img {
  margin-right: 10px; /* Ajusta el margen según necesites */
}


/* Pagination Styles */

/* Cambiar el color de fondo de los botones de paginación */
.page-item .page-link {
  background-color: #2C3E50; /* Color azul oscuro de Flatly */
  color: #FFFFFF; /* Color del texto */
  border-color: #2C3E50; /* Bordes en azul oscuro */
}

/* Cambiar el color de fondo y el texto de los botones de paginación activos */
.page-item.active .page-link {
  background-color: #1A242F; /* Azul oscuro más intenso para el estado activo */
  border-color: #1A242F;
  color: #FFFFFF; /* Color del texto */
}

/* Cambiar el color de fondo y el texto de los botones de paginación al pasar el ratón */
.page-item .page-link:hover {
  background-color: #1A242F; /* Azul oscuro más intenso al pasar el ratón */
  border-color: #1A242F;
  color: #FFFFFF; /* Color del texto */
}

/* Opcional: cambiar el color del borde y el fondo de los botones deshabilitados */
.page-item.disabled .page-link {
  background-color: #E9ECEF;
  border-color: #DEE2E6;
  color: #6C757D;
}
